<div id="navigateLanding">
<div ng-include="'components/landing/landing-navbar.html'"></div>

<div class="container-fluid">
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h4>Welcome To KaiOS</h4>
				<p>this is a landing page</p>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<a href="#/login" class="navigable" tabindex="0">Go Back To Login</a>
			</div>
		</div>

		<div class="row text-center">
				<div class="card text-white bg-primary mb-3 navigable" style="max-width: 20rem;" ng-repeat="c in cards">
						<div class="card-header">{{c.title}}</div>
						<div class="card-body">
							<h4 class="card-title">{{c.header}}</h4>
							<p class="card-text">{{c.foote}}</p>
						</div>
			</div>
		</div>
</div>
</div>
